<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">

    <title>2xt</title>
</head>

<body>

    <ion-content>

        <ion-tabs>
            <ion-tab tab="longer-distance">
                <ion-nav>
                    <ion-content>
                        <ion-grid fixed="true">
                            <ion-card color="primary">
                                <ion-row class="ion-text-center ion-text-uppercase">
                                    <ion-col>
                                        Partida
                                    </ion-col>
                                    <ion-col>
                                        Destino
                                    </ion-col>
                                    <ion-col>
                                        Distância
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                            {% for item in more_distant %}
                            <ion-card color="light">
                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label>{{ item[0] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label>{{ item[1] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="map" slot="start"></ion-icon>
                                            <ion-label>{{ item[2] }} Km</ion-label>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                            {% endfor %}
                        </ion-grid>
                    </ion-content>
                </ion-nav>
            </ion-tab>

            <ion-tab tab="longer-duration">
                <ion-nav>
                    <ion-content>
                        <ion-grid fixed="true">
                            <ion-card color="primary">
                                <ion-row class="ion-text-center ion-text-uppercase">
                                    <ion-col>
                                        Partida
                                    </ion-col>
                                    <ion-col>
                                        Destino
                                    </ion-col>
                                    <ion-col>
                                        Duração
                                    </ion-col>
                                    <ion-col>
                                        Aeronave
                                    </ion-col>
                                    <ion-col>
                                        Fabricante
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                            {% for item in longer_duration %}
                            <ion-card color="light">
                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label>{{ item[0] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label>{{ item[1] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="time" slot="start"></ion-icon>
                                            <ion-label>{{ item[2] }}H</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="jet" slot="start"></ion-icon>
                                            <ion-label>{{ item[3] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="construct" slot="start"></ion-icon>
                                            <ion-label>{{ item[4] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                            {% endfor %}
                        </ion-grid>
                    </ion-content>
                </ion-nav>
            </ion-tab>

            <ion-tab tab="departure-airports">
                <ion-nav>
                    <ion-content>
                        <ion-grid fixed="true">
                            <ion-card color="primary">
                                <ion-row class="ion-text-center ion-text-uppercase">
                                    <ion-col>
                                        Aeroporto
                                    </ion-col>
                                    <ion-col>
                                        Destino mais distante
                                    </ion-col>
                                    <ion-col>
                                        Destino mais próximo
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                            {% for item in departure_airports %}
                            <ion-card color="light">
                                <ion-row>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label>{{ item[0] }}</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label slot="start">{{ item[1] }}</ion-label>
                                            <ion-icon name="map" slot="start"></ion-icon>
                                            <ion-label>{{ item[2] }} Km</ion-label>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col>
                                        <ion-item lines="none">
                                            <ion-icon name="airplane" slot="start"></ion-icon>
                                            <ion-label slot="start">{{ item[3] }}</ion-label>
                                            <ion-icon name="map" slot="start"></ion-icon>
                                            <ion-label>{{ item[4] }} Km</ion-label>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                            {% endfor %}
                        </ion-grid>
                    </ion-content>
                </ion-nav>
            </ion-tab>

            <ion-tab tab="state_airposts">
                <ion-nav>
                    <ion-content>
                        <ion-grid fixed="true">
                            <ion-card>
                                <ion-card-content>
                                    <ion-item lines="none">
                                        <ion-icon name="globe" slot="start" size="large"></ion-icon>
                                        <ion-label>{{ state_with_more_airports[0] }} - Quantidade:
                                            {{ state_with_more_airports[1] }}</ion-label>
                                    </ion-item>
                                </ion-card-content>
                            </ion-card>
                        </ion-grid>
                    </ion-content>
                </ion-nav>
            </ion-tab>

            <ion-tab-bar slot="top">
                <ion-tab-button tab="longer-distance" color="primary">
                    <ion-label class="ion-text-uppercase">Viagens mais longas em Km </ion-label>
                </ion-tab-button>

                <ion-tab-button tab="longer-duration" color="primary">
                    <ion-label class="ion-text-uppercase">Viagens mais longas em duração</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="departure-airports" color="primary">
                    <ion-label class="ion-text-uppercase">Aeroportos de partida</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="state_airposts" color="primary">
                    <ion-label class="ion-text-uppercase">Estado com mais aeroportos</ion-label>
                </ion-tab-button>
            </ion-tab-bar>

        </ion-tabs>
    </ion-content>


    <script type="module" src="https://unpkg.com/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/@ionic/core@latest/dist/ionic/ionic.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>

</body>

</html>